<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>个人后台管理</title>
    <!-- <link href="/css/main.css" rel="stylesheet" type="text/css"> -->
    <!-- <link href="/fontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <script src="/vendors/jquery/js/jquery.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="/js/custom/login_register.js"></script> -->
    <!-- <script src="/js/vue.js"></script> -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script> -->
    <!-- <script src="/js/axios.min.js"></script> -->
    <!-- <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
</head>

<body>

    <!--顶部导航-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/user">后台管理</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/user/info">个人信息</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">博文管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/content">博文首页</a></li>
                            <li><a href="/user/content/add">发布博文</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">{{userInfo.username}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <!-- 给继承模板提供占位给 -->
        {%block main%}{%endblock%}
    </div>

</body>

</html>