{% extends 'layout.html' %}

{% block main %}

<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>修改人信息</span></li>
</ol>

<div class="panel panel-default" style="width: 70%;margin: 0 auto;">
    <div class="panel-heading">
        <h3 class="panel-title">修改用户信息</h3>
    </div>
    <form role="form" method="post" style="margin-left: 10px;margin-top: 10px;">
        <div class="form-group">
            <label for="username">用户名:</label>
            <input type="text" value="{{userInfo.username}}" id="username" placeholder="请输入用户名" name="username"
                disabled>
        </div>

        <div class="form-group">
            <label for="password">密&nbsp;&nbsp;码:</label>
            <input type="password" name="password" id="password" rows="5" placeholder="请输入密码"
                value="{{userInfo.password}}">
        </div>

        <div class="form-group">
            <label for="content">头像:</label>
            <img src="{{userInfo.img}}" alt="头像" width="50px">
        </div>
        <button type="button" class="btn btn-default" style="margin-bottom: 10px;"><a
                href="javascript:window.history.back();">取消</a></button>
        <button type=" submit" class="btn btn-success" style="margin-bottom: 10px; margin-left: 10px;">提交</button>
    </form>

</div>

{% endblock %}